.navigate {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: var(--headerBackground);
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin-bottom: -70px;
  z-index: 5;
}

.navigate > ul {
  list-style-type: none;
}
.navigate__logo {
  color: var(--text);
  font-size: 2rem;
}

.navigate__list {
  display: flex;
  list-style: none;
}

.navigate_item {
  white-space: nowrap;
  list-style-type: none;
}

.navigate__link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text);
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: transparent;
  transition: 300ms;
}

.navigate__link:hover {
  border-color: var(--text);
  transition: 250ms;
  cursor: pointer;
}

.navigate__profile {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  transition: all 0.5s;
}

.navigate__profile:hover {
  transform: scale(1.1);
}

.navigate__profile-menu {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.dropMenu {
  position: absolute;
  top: calc(100% + 5px);
  right: 10px;
  width: 220px;
  padding: 10px;
  background-color: var(--headerDropMenuBackground);
  border: 1px solid var(--headerDropMenuBorder);
  border-radius: 7px;
  opacity: 0;
  transform: translateY(-80px) scale(0.3) translateX(150px);
  visibility: hidden;
  transition: 0.5s;
}

.dropMenu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropMenu__list {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.dropMenu__item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--headerDropMenuItemBorder);
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
  transition: all 0.1s;
}
.dropMenu__item:hover {
  transform: scale(1.01);
  border-bottom: 1px solid var(--text);
}

.dropMenu__item:nth-child(n + 2) {
  margin-top: 15px;
}

.navigate__profile-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigate__profile-name {
  position: absolute;
  right: 103%;
  top: 50%;
  transform: translateY(-50%) translateX(50px) scale(0.1);
  opacity: 0;
  visibility: hidden;
  background-color: var(--headerDropMenuBackground);
  padding: 11px;
  border-radius: 5px;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.navigate__profile-container:hover .navigate__profile-name {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}
