.navigate {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.034);
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin-bottom: -70px;
  z-index: 5;
}

.navigate > ul {
  list-style-type: none;
}
.navigate__logo {
  color: white;
  font-size: 2rem;
}

.navigate__list {
  display: flex;
  list-style: none;
}

.navigate_item {
  white-space: nowrap;
  list-style-type: none;
}

.navigate__link {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: transparent;
  transition: 300ms;
}

.navigate__link:hover {
  border-color: white;
  transition: 250ms;
  cursor: pointer;
}
