.menu__container {
  padding: 0 50px 0 50px;
  margin-bottom: 2.8rem;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.control {
  width: 50px;
  cursor: pointer;
  filter: var(--svgItemsFilter);
  transition: all 0.3s;
}

.control:hover {
  transform: scale(110%);
  filter: var(--svgItemsFilterActive);
}

.add__item {
  filter: var(--svgItemsFilter);
}

.left-control {
  transform: rotate(-180deg);
}

.left-control:hover {
  transform: rotate(-180deg) scale(110%);
  filter: var(--svgItemsFilterActive);
}
.mix__item {
  filter: var(--svgItemsFilter);
  transition: all 0.5s;
}

.mix__item.active {
  transform: scale(1.2);
}

.mix__item.active:hover {
  transform: scale(1.1);
}

.right-control:hover {
  transform: scale(110%);
  filter: var(--svgItemsFilterActive);
}
