.hero {
  width: calc(var(--index) * 30);
  position: absolute;
  left: 60vw;
  top: 4vh;
  z-index: -1;
}

.container {
  padding: 0 7vw;
}

.main-header {
  height: 100vh;
}
.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  color: #c5c5c5;
  bottom: 12vh;
  line-height: 0.9;
}
