.footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--headerBackground);
  justify-content: center;
  align-items: center;
}

.footer__logo {
  color: var(--text);
  font-size: 2rem;
}
