.container-sider {
  padding-top: 70px;
  display: block;
  width: 30%;
  height: 50rem;
  overflow-x: hidden;
}

.container-sider__draggable {
  border-style: dotted;
  border-width: 5px;
  border-color: rgba(0, 122, 230, 0.5);
  background-color: rgba(0, 78, 146, 0.082);
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container-sider {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .container-sider {
    display: block;
  }
}
