.signin__container {
  display: flex;
  width: 100%;
  height: 50rem;
  justify-content: center;
  align-items: center;
}
.signin__card {
  display: block;
  width: 30rem;
  padding: 30px;
  height: auto;
}
.form__title {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
  transition: all 0.5s;
  padding: 3px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #202020;
}

.form__title:hover {
  background-color: #61616100;
  color: #616161;
  transform: scale(1.1);
}

.form__signin {
  display: block;
}

.form__signin > input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.form__error {
  color: #b40000;
  margin-bottom: 1rem;
}

.form__button > button {
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
}

.form__button {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.form__option {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.form__option:hover {
  color: #616161;
}
