.chatitems__container {
  max-width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.chatitems__image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 10px;
}
.chatitems__myimage {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 10px;
}

.chatitems__message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.chatitems__container-message {
  width: 100%;
  text-align: left;
  background-color: var(--gray2);
  padding: 5px;
  display: block;
  border-radius: 10px;
}

.chatitems__message-name {
  width: 100%;
  display: block;
  padding: 1%;
  border-bottom: 1px solid #000000;
}

.chatitems__message {
  padding: 1%;
  width: 100%;
  display: block;
}
