.tabmenu__container {
  width: 100%;
  height: 50px;
  display: flex;
}

.tabmenu__menu {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  justify-content: space-between;
  list-style-type: none;
}

.tabmenu__menu > li {
  flex: 1;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: transparent;
  padding: 15px;
  transition: 300ms;
  background-color: rgba(31, 31, 31, 0.021);
}

.tabmenu__menu-items:hover {
  border-color: white;
  transition: 250ms;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .tabmenu__container {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .tabmenu__container {
    display: none;
  }
}
