.tabmenu__container {
  width: 100%;
  height: 50px;
  display: flex;
}

.tabmenu__menu {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  justify-content: space-between;
  list-style-type: none;
}

.tabmenu__menu-items {
  flex: 1;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: transparent;
  padding: 15px;
  transition: 300ms;
  background-color: var(--primary1);
}

.tabmenu__menu-items:hover {
  border-color: var(--commonBorder);
  transition: 250ms;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .tabmenu__container {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .tabmenu__container {
    display: none;
  }
}

.item__wind {
  cursor: pointer;
  flex: 1;
  --angle: 0deg;
  border-bottom: 0.1px solid;

  padding: 15px;
  background-color: var(--gray1);

  border-image: conic-gradient(
      from var(--angle),
      rgb(0, 75, 56),
      rgb(0, 143, 95),
      rgb(0, 173, 58),
      rgb(0, 45, 112),
      rgb(58, 0, 92),
      rgb(0, 81, 95),
      rgb(63, 0, 105)
    )
    1;

  animation: 10s rotate linear infinite;
}
.item__wind:hover {
  padding-bottom: 14px;
  border-bottom: 2px solid;
  --angle: 0deg;
  border-image: conic-gradient(
      from var(--angle),
      rgb(0, 75, 56),
      rgb(0, 143, 95),
      rgb(0, 173, 58),
      rgb(0, 45, 112),
      rgb(58, 0, 92),
      rgb(0, 81, 95),
      rgb(63, 0, 105)
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
