.container {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.card__container {
  flex: 1;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 15vh 0 15vh 0;
}
