.draggable {
  cursor: grab;
}

.title,
.subTitle {
  margin-bottom: 4px;
  transition: all 0.5s;
  cursor: pointer;
}
.title:hover,
.subTitle:hover {
  transform: scale(1.04);
}

.img__container {
  transition: all 0.5s;
  text-align: center;
  transform: scale(0.99);
}
.img__static {
  transition: all 0.5s;
  animation: static-box-shadow 10s infinite alternate-reverse;
  filter: brightness(80%);
  opacity: 0.8;
}
.img__container:hover {
  transform: scale(95%);
}
.cover__multi {
  transform: scale(1.05);
  filter: brightness(100%);

  opacity: 1;
  border-radius: 30px;
  border: none;
  position: relative;
  display: inline-flex;
  transition: all 0.3s ease;
  border-radius: 18px;
  max-width: 300px;
  max-height: 300px;
}

.cover__multi::before {
  position: absolute;
  inset: 0;
  border-radius: 15px;
  animation: glitch-border 10s infinite alternate-reverse;
  pointer-events: none;
  opacity: 0.5;
  mix-blend-mode: screen;
}

.cover__multi::after {
  content: "";
  position: absolute;
  border-radius: 15px;
  inset: 0;
  z-index: -1;
  animation: glitch-box-shadow 15s infinite alternate-reverse;
  pointer-events: none;
  opacity: 0.9;
  mix-blend-mode: screen;
}

@keyframes glitch-border {
  0% {
    border: solid;
    border-color: hsl(303, 100%, 50%);
    border-width: 0.1px;
  }
  50% {
    border: solid;
    border-color: hsl(239, 100%, 50%);
    border-width: 0.1px;
  }
  100% {
    border: solid;
    border-color: hsl(281, 100%, 50%);
    border-width: 0.1px;
  }
}

@keyframes glitch-box-shadow {
  0% {
    box-shadow:
      0px 0px 0px 0px hsla(281, 100%, 50%, 0),
      0px 0px 0px 0px hsla(234, 100%, 50%, 0);
  }

  25% {
    box-shadow:
      2px -2px 25px 25px hsl(0, 100%, 50%),
      2px -2px 13px 13px hsla(29, 100%, 50%, 0.986);
  }
  50% {
    box-shadow:
      -2px -2px 13px 13px hsl(0, 0%, 73%),
      -2px -2px 13px 13px hsl(0, 0%, 95%);
  }
  75% {
    box-shadow:
      0px 0px 25px 25px hsl(32, 100%, 50%),
      0px 00px 20px 20px hsl(0, 100%, 50%);
  }
  100% {
    box-shadow:
      2px 2px 25px 25px hsl(310, 100%, 50%),
      2px 2px 10px 10px hsl(0, 100%, 50%);
  }
}

.cover {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.cover__container {
  height: 21rem;
  margin-bottom: 3rem;
}

.name__compose {
  margin-bottom: 1rem;
}

.progress-container {
  display: block;
  align-items: center;
  gap: 10px;
  padding: 0 30px 0 30px;
  margin-bottom: 1rem;
}

.progress-slider,
.volume-slider {
  cursor: pointer;
  width: 100%;
  filter: invert(38%) sepia(0%) saturate(1851%) hue-rotate(189deg)
    brightness(89%) contrast(86%);
  transition: all 0.5s;
}

.progress-slider:hover,
.volume-slider:hover {
  transform: scaleY(1.2);
}
.progress-slider:hover::-webkit-slider-thumb,
.volume-slider:hover::-webkit-slider-thumb {
  transform: scaleX(1.4) scaleY(1.2);
  transition: all 0.5s;
  opacity: 1;
}

.progress-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  opacity: 0;
  transition: all 0.5s;
}

.time-display__start {
  float: left;
  margin-bottom: 2px;
  color: rgb(105, 105, 105);
}

.time-display__end {
  float: right;
  margin-bottom: 2px;
  color: rgb(105, 105, 105);
}

.volume-container {
  cursor: pointer;
  padding: 20px 0;
  display: flex;
  align-items: center;
  height: 0.1px;
  gap: 10px;
  padding: 0 30px 0 30px;
}
.volume__image {
  width: 40px;
  opacity: 1;
  transition: all 0.1s;
  filter: var(--svgItemsFilter);
}
.volume__image-isVolume {
  opacity: 0;
  position: absolute;
}
.volume__image:hover {
  transform: scale(1.2);
}
.slider-wrapper {
  padding: 20px 0;
  cursor: pointer;
}

@keyframes static-box-shadow {
  0% {
    box-shadow:
      0px 0px 5px 5px hsla(281, 100%, 50%, 0),
      0px 0px 5px 5px hsla(234, 100%, 50%, 0);
  }
  25% {
    box-shadow:
      2px -2px 5px 5px hsl(0, 100%, 50%),
      2px -2px 5px 5px hsla(29, 100%, 50%, 0.986);
  }
  50% {
    box-shadow:
      -2px -2px 5px 5px hsl(0, 0%, 73%),
      -2px -2px 5px 5px hsl(0, 0%, 95%);
  }
  75% {
    box-shadow:
      0px 0px 5px 5px hsl(32, 100%, 50%),
      0px 00px 5px 5px hsl(0, 100%, 50%);
  }
  100% {
    box-shadow:
      2px 2px 5px 5px hsl(310, 100%, 50%),
      2px 2px 5px 5px hsl(0, 100%, 50%);
  }
}

.track__tebmenu {
  width: 100%;
  padding: 0 70px 0 70px;
  height: 35px;
  margin-bottom: 15px;
}

.chat__image {
  float: right;
  width: 40px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s;
  filter: var(--svgItemsFilter);
}
.chat__image:hover {
  transform: scale(1.1);
}
